1. Herramientas/2. Praxair Comunicaciones Liquidos - copia/Web References/WSPraxair/DataAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFechaSistema">
        <s:complexType />
      </s:element>
      <s:element name="GetFechaSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFechaSistemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGrupos">
        <s:complexType />
      </s:element>
      <s:element name="GetGruposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGruposResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNombreGrupo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idGrupo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNombreGrupoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNombreGrupoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatosCarga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTerminal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCodigoProceso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCodigoPrograma" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatosCargaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatosCargaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmarCarga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTerminal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCodigoProceso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCodigoPrograma" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmarCargaResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTerminal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCodigoPrograma" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCodigoProceso" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDatosEnviados" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDatosResponse">
        <s:complexType />
      </s:element>
      <s:element name="GrabaErrorTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTerminal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iCodigoPrograma" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sStack" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabaErrorTerminalResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadArchivoPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadArchivoPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadArchivoPDFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFechaSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetFechaSistema" />
  </wsdl:message>
  <wsdl:message name="GetFechaSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetFechaSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetGruposSoapIn">
    <wsdl:part name="parameters" element="tns:GetGrupos" />
  </wsdl:message>
  <wsdl:message name="GetGruposSoapOut">
    <wsdl:part name="parameters" element="tns:GetGruposResponse" />
  </wsdl:message>
  <wsdl:message name="GetNombreGrupoSoapIn">
    <wsdl:part name="parameters" element="tns:GetNombreGrupo" />
  </wsdl:message>
  <wsdl:message name="GetNombreGrupoSoapOut">
    <wsdl:part name="parameters" element="tns:GetNombreGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDatosCargaSoapIn">
    <wsdl:part name="parameters" element="tns:GetDatosCarga" />
  </wsdl:message>
  <wsdl:message name="GetDatosCargaSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatosCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmarCargaSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmarCarga" />
  </wsdl:message>
  <wsdl:message name="ConfirmarCargaSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmarCargaResponse" />
  </wsdl:message>
  <wsdl:message name="SendDatosSoapIn">
    <wsdl:part name="parameters" element="tns:SendDatos" />
  </wsdl:message>
  <wsdl:message name="SendDatosSoapOut">
    <wsdl:part name="parameters" element="tns:SendDatosResponse" />
  </wsdl:message>
  <wsdl:message name="GrabaErrorTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:GrabaErrorTerminal" />
  </wsdl:message>
  <wsdl:message name="GrabaErrorTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:GrabaErrorTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="UploadArchivoPDFSoapIn">
    <wsdl:part name="parameters" element="tns:UploadArchivoPDF" />
  </wsdl:message>
  <wsdl:message name="UploadArchivoPDFSoapOut">
    <wsdl:part name="parameters" element="tns:UploadArchivoPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="DataAccessSoap">
    <wsdl:operation name="GetFechaSistema">
      <wsdl:input message="tns:GetFechaSistemaSoapIn" />
      <wsdl:output message="tns:GetFechaSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGrupos">
      <wsdl:input message="tns:GetGruposSoapIn" />
      <wsdl:output message="tns:GetGruposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNombreGrupo">
      <wsdl:input message="tns:GetNombreGrupoSoapIn" />
      <wsdl:output message="tns:GetNombreGrupoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosCarga">
      <wsdl:input message="tns:GetDatosCargaSoapIn" />
      <wsdl:output message="tns:GetDatosCargaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarCarga">
      <wsdl:input message="tns:ConfirmarCargaSoapIn" />
      <wsdl:output message="tns:ConfirmarCargaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDatos">
      <wsdl:input message="tns:SendDatosSoapIn" />
      <wsdl:output message="tns:SendDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabaErrorTerminal">
      <wsdl:input message="tns:GrabaErrorTerminalSoapIn" />
      <wsdl:output message="tns:GrabaErrorTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadArchivoPDF">
      <wsdl:input message="tns:UploadArchivoPDFSoapIn" />
      <wsdl:output message="tns:UploadArchivoPDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataAccessSoap" type="tns:DataAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFechaSistema">
      <soap:operation soapAction="http://tempuri.org/GetFechaSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrupos">
      <soap:operation soapAction="http://tempuri.org/GetGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNombreGrupo">
      <soap:operation soapAction="http://tempuri.org/GetNombreGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosCarga">
      <soap:operation soapAction="http://tempuri.org/GetDatosCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarCarga">
      <soap:operation soapAction="http://tempuri.org/ConfirmarCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDatos">
      <soap:operation soapAction="http://tempuri.org/SendDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabaErrorTerminal">
      <soap:operation soapAction="http://tempuri.org/GrabaErrorTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadArchivoPDF">
      <soap:operation soapAction="http://tempuri.org/UploadArchivoPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataAccessSoap12" type="tns:DataAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFechaSistema">
      <soap12:operation soapAction="http://tempuri.org/GetFechaSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrupos">
      <soap12:operation soapAction="http://tempuri.org/GetGrupos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNombreGrupo">
      <soap12:operation soapAction="http://tempuri.org/GetNombreGrupo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosCarga">
      <soap12:operation soapAction="http://tempuri.org/GetDatosCarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarCarga">
      <soap12:operation soapAction="http://tempuri.org/ConfirmarCarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDatos">
      <soap12:operation soapAction="http://tempuri.org/SendDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabaErrorTerminal">
      <soap12:operation soapAction="http://tempuri.org/GrabaErrorTerminal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadArchivoPDF">
      <soap12:operation soapAction="http://tempuri.org/UploadArchivoPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataAccess">
    <wsdl:port name="DataAccessSoap" binding="tns:DataAccessSoap">
      <soap:address location="http://localhost/WebServicesOBCLiquidos/DataAccess.asmx" />
    </wsdl:port>
    <wsdl:port name="DataAccessSoap12" binding="tns:DataAccessSoap12">
      <soap12:address location="http://localhost/WebServicesOBCLiquidos/DataAccess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>